@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-press-start {
  font-family: "Press Start 2P", cursive;
}
/* src/index.css */
@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw); /* Move off screen to the left */
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw); /* Move off screen to the right */
  }
}

.animate-move-left {
  animation: move-left 1s forwards;
}

.animate-move-right {
  animation: move-right 1s forwards;
}
